
.addfriendscontainer{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    margin-top: 55px;
    
}
.addfriends{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputfield{
    height: 30px;
    margin-left: 15px;
    border-radius: 15px;
    border-color: rgb(175, 206, 240);
}
.id{
    margin-left: 58px;
}
.button{
    height: 35px;
    color: azure;
    background-color: rgb(34, 34, 232);
    border: none;
    box-shadow: 1px .5px .5px black;
}
.button:hover{
    color: rgb(34, 34, 232);
    background-color: azure;
    cursor: pointer;
}